@font-face{
    font-family: "mast";
    src: url("./assets/fonts/Ubuntu/Ubuntu-Regular.ttf");
}

body{
    background-color: rgb(204, 254, 204);
    font-family: mast;
}

#box{
    width: 55%;
    margin-left: 22.5%;
    text-align: center;
    border: 2px solid grey;
}

#box a{
    text-decoration: none;
    font-size: larger;
    color: coral;
    
}

#box2{
    width: 55%;
    margin-left: 22.5%;
    text-align: center;
    border: 2px solid grey;
}

#box2 a{
    text-decoration: none;
}